{% extends "base.html" %}

{%block title%}

OMR sheet Grader- Activity

            {% endblock%}



{%block head%}
        <link rel="stylesheet" href = '..\static\css\activity.css'>

            {%endblock%}



{%block body%} 

<center>
    <h1>Activity Status</h1>
</center>
    <div class="outer">
        <div class="stat">gskfjdgskjfgskjd</div>
        <div class="stat">gskgfssfgfjdgskjfgskjd</div>
        <div class="stat">gskfjdgskjfgskjd</div>
        <div class="stat">gskadsasdfjdgskjfgskjd</div>
    </div>




            {%endblock%}