{% extends "base.html" %}

{%block title%}

OMR sheet Grader- Score and Grading

            {% endblock%}



{%block head%}
        <link rel="stylesheet" href = '..\static\css\score.css'>

            {%endblock%}



{%block body%} 
    <div class="heading">
        <h1>Original</h1>
        <h1>Evaluation</h1>
    </div>
    <div class="top">
        <div class="original">
               <img src = '{{url_for("display_image", filename = filename)}}' >
        </div>
        <div class="evaluation">
            <div class = 'image'>

                <img id="evaluated_image" src="data:image/jpeg;base64,{{ evaluated_image[0].decode('utf-8') }}">
            </div>
        </div>
    </div>
    <div class="bottom">

        <center><h1>
            Summary
        </h1></center>

        <div class="summary">
            
            <div class="questions">
                <div class="question">1</div>
                <div class="question">2</div>
                <div class="question">3</div>
                <div class="question">4</div>
                <div class="question">5</div>
            </div>
            <div class="status">
                    {% for response in evaluated_image[-1] %}
                        {% if response==1 %}
                            <div class="stat-correct">Correct</div>

                        {% elif response==0 %}
                            <div class="stat-wrong">Wrong</div>

                        {% else %}
                            <div class="stat-left">Left</div>
                        {% endif %}
                    {% endfor %}

            </div>
            <div class="marks">
                {% for response in evaluated_image[-1] %}
                        {% if response==1 %}
                            <div class="mark-positive">{{marking_scheme[0]}}</div>

                        {% elif response==0 %}
                            <div class="mark-negative">{{marking_scheme[1]}}</div>

                        {% else %}
                            <div class="mark-left">0</div>
                        {% endif %}
                    {% endfor %}
            </div>
           
        </div>

        <hr>
        <div class = 'message'><center>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for message in messages %}
                        <div class = 'success-flash'>{{message[1]}}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

        </center>
    </div>
        <div class="result">

          <form method = 'POST' action = {{url_for('add_score')}}  >
              <div class="form-left">
              <div class="item">
            <h2>Rollno</h2>
            <input type="number" class = 'rollno' name='rollno' value = {{evaluated_image[1]}} >
              </div>
              <div class="item">
            <h2>Total Score</h2>
            <input type="text" name='score' value = {{evaluated_image[2]}} >
              </div>
              </div>
              <div class="form-right">
              <div class="item">
            <h2>Percentage(%)</h2>
            <input type="text" name='percentage' value = {{evaluated_image[3]}} >
              </div>
              <div class="item">
               <h2>Image name</h2>
            <input type="text" name='image_name' value = {{filename}}  >
              </div>
              </div>

       <button class = 'btn' id = 'save' type = 'submit'>
        Save
        </button>

            </form>

      </div>
    </div>


            {%endblock%}