{% extends "base.html" %}

{%block title%}

OMR sheet Grader- Scoreboard

            {% endblock%}



{%block head%}





        <link rel="stylesheet" href = '..\static\css\scoreboard.css'>

            {%endblock%}



{%block body%} 

        <center>
            <h1>Scoreboard</h1>
        </center>
<table id="tabl" class = 'tab'>

    <tr>
      <th>Rollno</th>
      <th>Marks (10)</th>
      <th>Percentage</th>
      <th>Options</th>
    </tr>
    <tr>

        {% for score in scores %}
        <tr>
        <td>{{score.rollno}}</td>
        <td>{{score.score}}</td>
        <td>{{score.percentage}}</td>
        <td><button class='edit' id='edit-o'><a href = {{url_for('edit', rollno = score.rollno)}}>Edit</a></button><button class = 'delete' id = 'delete-o'><a href = {{url_for('delete', rollno = score.rollno)}}>Delete</a></button></td>
        </tr>
        {% endfor %}
</table>









            {%endblock%}